.footer {
    background-color: rgb(255, 60, 60);
    height: 3rem;
    text-align: center;
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textfooter {
    color: white;
}